@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueBit';
  src: url('./fonts/NeueBit-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBit';
  src: url('./fonts/NeueBit-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-dz-black text-dz-white;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    font-size: 24px;
    font-family: 'NeueBit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    @apply hover:text-dz-purple-500;
  }
}

@layer components {
  /* general components */
  .fade-out-image {
    /* Apply a mask to the image using a gradient. The mask starts as fully opaque (black) at the top
       and becomes fully transparent at the bottom, creating a fade-out effect. */

    /* For Webkit browsers like Chrome and Safari */
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );

    /* Standard way to apply mask for most modern browsers */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .floating-bar {
    background: linear-gradient(180deg, rgba(42, 45, 50, 0.75) 0%, rgba(19, 19, 19, 0.75) 99.17%);
    background-blend-mode: overlay;
  }

  .fade-in {
    @apply opacity-0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
